.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 25%;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .card:hover {
    background-color: #CA3433;
    color: #fff;
  }

  .card.white-wine:hover {
    background-color: #EEEDC4;
    color: #11123B;
  }
  
  .card-image {
    width: 100%;
  }
  
  .card-title {
    font-size: 18px;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .card-btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

  .card-image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .footer {
    width: 100%;
    bottom: 0;
    padding: 10px;
    text-align: center;
  }

  .footer p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }

  ul li {
    list-style-type: none;
  }